<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
   <router id="standard">
        <route id="powertools" frontName="powertools">
            <module name="Syncit_PowerTools" />
       </route>
            <route id="api" frontName="api">
            <module name="Syncit_PowerTools" />
       </route>
    </router>
</config>